<%= form_with(model: [satellite, barrel], local: true) do |form| %>
  <% if barrel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(barrel.errors.count, "error") %> prohibited this barrel from being saved:</h2>

      <ul>
      <% barrel.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :last_flavor_sensor_result %>
    <%= form.text_field :last_flavor_sensor_result %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status %>
  </div>

  <div class="field">
    <%= form.label :barrel_errors %>
    <%= form.text_field :barrel_errors %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
