<p id="notice"><%= notice %></p>

<h1>Satellites</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Last telemetry timestamp</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @satellites.each do |satellite| %>
      <tr>
        <td><%= satellite.id %></td>
        <td><%= satellite.last_telemetry_timestamp %></td>
        <td><%= link_to 'Show', satellite %></td>
        <td><%= link_to 'Edit', edit_satellite_path(satellite) %></td>
        <td><%= link_to 'Destroy', satellite, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Satellite', create_satellite_path(last_telemetry_timestamp: nil), method: :post %>
