<p id="notice"><%= notice %></p>

<h1>Satellite <%= @satellite.id %></h1>

<p>
  <strong>Last telemetry timestamp:</strong>
  <%= @satellite.last_telemetry_timestamp %>
</p>

<hr>

<%= link_to 'Edit', edit_satellite_path(@satellite) %> |
<%= link_to 'Back', satellites_path %>
